<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
 Bucharest-based startup exploring opportunities in social commerce.</br>
 Winzo is a social network with a marketplace.</br>
 Buying and selling things is easy: post products and services to your personal status or company page. </br>

</p>