<footer class="footer">
  <small>
    <a href="">&copy Winzo</a>
    by Mihail Paleologu 
  </br>
<a href="railstutorial.org">With the help of Rails Tutorial</a> 
  by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>